[user]
	name = Sam Partington
	email = spartington@semmle.com
[credential]
	helper = cache
[diff]
	tool = bc3
[color]
	ui = auto
[difftool]
	prompt = false
	bc3 = trustExitCode
[core]
	excludesfile = /home/sam/.gitignore
[alias]
	br = branch
	dl = difftool
	s = status
	log = log --decorate
	logfiles = log --pretty=oneline --graph --decorate --stat
	continue = rebase --continue
	cont = rebase --continue
	update = commit -a --amend -C HEAD
	re = rebase -i master
	sdl = !git status && sleep 0.7 &&git dl
	ch = checkout
	tl = for-each-ref --sort='*authordate' --format='%(taggerdate:short) | %(taggername) | %(tag) | %(contents:subject)' refs/tags
	fp = push --force-with-lease
[push]
	default = current
[pager]
	branch = false
[url "git@github.com:"]
        insteadOf = https://github.com/
