[user]
	name = Sam Partington
	email = sampart@github.com
[color]
	ui = auto
[difftool]
	prompt = false
[core]
	excludesfile = ~/.gitignore
[alias]
	br = branch
	dl = difftool
	s = status
	log = log --decorate
	logfiles = log --pretty=oneline --graph --decorate --stat
	continue = rebase --continue
	cont = rebase --continue
	update = commit -a --amend -C HEAD
	re = rebase -i master
	sdl = !git status && sleep 0.7 &&git dl
	ch = checkout
	tl = for-each-ref --sort='*authordate' --format='%(taggerdate:short) | %(taggername) | %(tag) | %(contents:subject)' refs/tags
	fp = push --force-with-lease
	track = "!git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`"
	sha = "!git rev-parse HEAD | tr -d '\n' | pbcopy && echo \"`git rev-parse HEAD | tr -d '\n'` copied to clipboard\""
	numbered-branches = "!git branch | awk ' !x[$0]++' | head -n8 | nl"
	recent = "!sh -c 'branches=$(git numbered-branches) && printf \"Recent Branches:\n$branches\n\" && echo \"Checkout a branch?\" && read branchn && branch=$(printf \"$branches\" | awk \"NR==$branchn\" | cut -f 2) && git checkout $branch'"
	brr = recent
	pr = "!git push && gh pr create -w"
[push]
	default = current
[pager]
	branch = false
[url "git@github.com:"]
        insteadOf = https://github.com/
[include]
    path = .gitconfig_os
[init]
	defaultBranch = main
[pull]
	ff = only
[fetch]
	prune = true
